
echo fastapi >> requirements.txt
echo uvicorn >> requirements.txt
echo gunicorn >> requirements.txt
echo openai >> requirements.txt
echo firebase-admin >> requirements.txt
echo docxtpl >> requirements.txt
echo pdfkit >> requirements.txt
echo stripe  >> requirements.txt
